* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.meeting__container {
  height: 100vh;
  display: grid;
  grid-template-columns: 6% 64% 30%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    "header header header"
    "sidenav main__content chart"
    "btn__grp btn__grp chart";
  background: #21242b;
  color: #ffffff;
}

.meeting__header {
  grid-area: header;
  padding: 1rem;
  background-color: #000000;
  color: #10b664;
}
.side__nav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
}

span.active {
  color: #10b664;
  /* position: relative; */
}
/* span.active::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    color: #10b664;
    margin-right: -10px;
    border-right: 10px solid #10b664;
    z-index: 10;
} */

.main__container {
  grid-area: main__content;
  background-color: #000000;
  margin: 3%;
  border-radius: 23px;
  padding: 4%;
}
.chart__section {
  grid-area: chart;
}
.btn__section {
  grid-area: btn__grp;
  display: flex;
  justify-content: center;
}

.option__section {
  background: #000000;
  padding: 0.4rem;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 150px;
  text-align: center;
}
.option__section .select__icon {
  display: flex;
  justify-content: space-between;
}
.option__section .person__count {
  display: flex;
  justify-content: center;
  align-items: center;
}
.option__section .select__icon svg {
  font-size: 16px;
  width: 30px;
  height: 30px;
}
