.container {
  height: 100vh;
  background: #21242b;
  padding: 0px 8%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.left__container {
  /* display: grid;
  align-items: center; */
}

.left__container h1 {
  margin-top: 3em;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #10b664;
  line-height: 2em;
}
.left__container span {
  /* display: block; */
  display: block;
  color: #fff;
  font-size: 30px;
}

.left__container h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 3rem;
  color: #66d09c;
}

.new__meeting {
  width: 50%;
  height: 50px;
  background: #10b664;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}
.__or {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #989797;
  margin-left: 25%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.input__box {
  width: 50%;
  height: 50px;
  background: transparent;
  color: #fff;
  border: 1px solid #10b664;
  padding: 10px;
  outline: none;
}

.join__btn {
  width: 20%;
  height: 50px;
  border: none;
  background: #10b664;
  outline: none;
  color: #ffffff;
}
.rigth__container {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
.rigth__container svg{
  width: 400px;
  height: 400px;
}